{% extends 'sherad/_Main.html' %}
{% load static %}
{% block Content %}

  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/category.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Card List</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
            {% if order != None and details|length > 0 %}

              {% for detail in details %}
                  <tr>
                    <td>
                        <div class="media">
                            <div class="d-flex">
                      <img src="{{ detail.product.image.url }}" alt="" />
                    </div>
                    <div class="media-body">
                      <p>{{ detail.product.title }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>${{ detail.product.price }}</h5>
                </td>
                <td>
                  <div class="product_count">
                      <span class="input-number-decrement"> <i class="ti-minus"></i></span>
{#                      <input class="input-number" type="text" disabled value="{{ detail.count }}" min="0" max="10">#}
                      <span>{{ detail.count }}</span>
                      <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td>
                <td>
                  <h5>${{ detail.get_detail_sum }}</h5>
                </td>
              </tr>
              <tr class="bottom_button">
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" href="/remove-order-detail/{{ detail.id }}">Close Coupon</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            {% else %}
                <div class="alert alert-danger">
                    <p class="text-center text-dark">You don't have product in your card</p>
                </div>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
  </section>
  <!--================End Cart Area =================-->

{% endblock %}